.text {
  background-color: white;
  font-family: "Menlo";
  color: black;
}

a:visited {
  color: red;
}
a:link, a:visited {
  text-decoration: none;
  cursor: pointer;
}
h4:hover {
  color: dark-red;
  text-shadow: 1px 1px 3px purple;
  transition: all cubic-bezier(.35,.84,.62,.34) 2s;
}
h4 {
  color: red;
  text-shadow: 1px 1px 1px orange;
  transition: all cubic-bezier(.35,.84,.62,.34) 2s;
}





